@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.formulario-contato {
  max-width: 800px;
  width: 100%;
  background-color: #EDE9E3;
  border-radius: 30px;
  margin: auto;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  font-family: "Poppins", sans-serif;

}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
}

label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #454545;
  font-family: "Poppins", sans-serif;
}

.perguntas {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.form-text {
  font-size: 1.8rem;
  color: #454545;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.form-subtitulo {
  font-size: 1.1rem;
  color: #454545;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Lustria", sans-serif;
}




.form-group input,
.select-wrapper select {
  box-shadow: rgba(221, 183, 172, 0.7) 1.95px 1.95px 2.6px;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 1rem;
  border: #DDB7AC 2px solid;
  border-radius: 4px;
  background-color: #E4CFC7;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
}

.form-group textarea {
  box-shadow: rgba(221, 183, 172, 0.7) 1.95px 1.95px 2.6px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: #DDB7AC 2px solid;
  border-radius: 4px;
  background-color: #E4CFC7;
  box-sizing: border-box;
  line-height: 1.6;
  height: 90px;
  resize: none;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-wrapper select {
  width: 100%;
  padding-right: 30px;
  color: #454545;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.icone-mostrar {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #454545;
}





.select-wrapper select:focus {
  outline: none;
}

select option {
  background-color: #F9F7F2;
  color: #454545;
}

.botao-form {

  margin-top: 50px;
}


button:disabled {
  background-color: #c7c7c7;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.80rem;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}

.sucesso {
  margin-top: 20px;
  font-size: 1rem;
  color: green;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}


@media (max-width: 766px) {
  .formulario-contato {
    width: 85%;
    padding: 35px;
    gap: 20px;
  }

  .form-text {
    font-size: 1.3rem;
  }

  .form-subtitulo {
    font-size: 0.80rem;
  }


  label {
    font-size: 0.70rem;
  }

  .form-group input,
  .select-wrapper select {
    height: 40px;
    font-size: 0.85rem;
  }

  .form-group textarea {
    font-size: 0.75rem;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .formulario-contato {
    width: 85%;
    padding: 45px;
    gap: 30px;
  }

  .form-text {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .form-subtitulo {
    font-size: 1rem;
  }


  label {
    font-size: 0.80rem;
  }

  .form-group input,
  .select-wrapper select {
    height: 45px;
    font-size: 0.95rem;
  }

  .form-group textarea {
    font-size: 0.95rem;
  }
}