@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit; 
}

.comeco {
    background-color: #DCDED6;
    min-height: 170vh;
    margin-top: 5px;
}

.inicio {
    margin-top: 10px;
    position: relative;
    height: 295px;
    display: flex;
    align-items: center;
    text-align: center;
  
   
    
   
}

.onda {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    filter: drop-shadow(0px 1px 2px rgba(60, 64, 67, 0.3)) drop-shadow(0px 1px 3px rgba(60, 64, 67, 0.15));

  

}



.text-principal {
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    color: #454545;
    font-weight: 550;
    z-index: 2;
    position: relative;
    padding-bottom: 50px;
    padding-left: 200px;
    line-height: 1.4;;

}

.descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    gap: 100px;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    width: 380px;
    height: 400px;
}

.primeiro-text {
    font-family: "Quicksand", sans-serif;
    font-weight: 520;
    font-size: 24px;
    letter-spacing: 2px;
    color: #454545;
    margin-bottom: 14px;
}

.segundo-text {
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #8A8F75;
    margin-top: 0;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.terceiro-text {
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    font-weight: 520;
    color: #454545;
    letter-spacing: 2px;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
}

.num {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color: #8A8F75;
}



.categorias{
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 70px;
   
}
.linha{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.categoria{
    display: flex;
   gap: 30px;
    width: 300px;
    height: 130px;
    align-items: center;
    border: solid 1.3px #DDB7AC;
    border-radius: 10px;
    justify-content: center;
    font-family: "Lustria", sans-serif;
    color: #454545;
    font-weight: 570;
    font-size: 17px;
    text-align: center;
    box-shadow: rgba(221, 183, 172, 0.7) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: all 0.4s ease;

}

.categoria:hover{
    background-color: #FDFAF9; /* fundo mais suave quando passa o mouse */
    transform: translateY(-8px) scale(1.02); }


.icone{
    width: 70px;
    height: auto;
}

.categoria p{
    font-size:   botto18px;
    font-family: "Lustria", sans-serif;
}

.conteudo-categoria {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
   
}
.btn-um {
  margin-top: 90px;
}

.btn-dois{
    margin: 30px auto 0 auto; /* top | auto horizontal | 0 bottom */
  display: block;
}


.sobre-nutri{
   margin-top: 150px;
    background-color: #F4EFEC;
    height: 560px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-small{
    font-size: 20px;
    margin-bottom: 13px;
 
}

.text-medium{
   color: #000;
   font-size: 30px;
   color: #454545;
   margin: 0;
   margin-bottom: 13px;
   font-weight: 500;
}

.text-large{
    margin: 0;
    margin-bottom: 40px;
}

.small{
    font-size: 20px;
}
.color-text{
    color: #8A8F75;
}


.planejamento{
    display: flex;
    justify-content: center;
    gap: 120px;
    
}
.item{
    display: flex;
 flex-direction: column;
    gap:10px;
    align-items: center;
    text-align: center;
    width: 150px;
  
}

.img-wrapper{
    border-radius: 50%;
    border: 4px solid #8A8F75;
    padding: 66px;
   display: flex;
   width: 120px;
   height: 120px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

.img-wrapper img{
    width: 80px;
    height: auto;
    object-fit: contain;
}

.item p{
    font-family: "Lustria", sans-serif;
    font-size: 15px;

}

.funcionamento{
    display: flex;
    justify-content: center;
    margin: 0;
   

}

.topic{
    background-color: #EDE9E3;
    border: 10px solid #DDB7AC ;
    width: 900px;
    padding: 0;
 
}

