@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lustria&family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet');



.imc-container {
  max-width: 90%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  color: #454545;
}

#titulo-calculadora {
  text-align: center;
  margin-bottom: 20px;
  color: #454545;
  font-weight: 570;
}

.titulo-mais-icone {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#container-calculator-icon {
  background-color: #F4EFEC;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#img-calculator-icon {
  width: 30px;
  height: 30px;
  padding: 1px;
  color: #8A8F75;
}

.resultado-informacoes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.text-resultado {
  border-bottom: 1px solid rgb(216, 216, 216);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;

}

.text-resultado h1 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

#text-titulo-calculadora {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 100px;
  color: #454545;
  margin-left: 80px;
  margin-right: 80px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;

}

.input-group input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;

}

.info-imc-container.info-pag-imc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.info-imc-container.info-pag-agua {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  width: 50%;
  margin-left: 25%;
}

#sexo-buttons {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  width: 250px;
  height: 100px;
  padding: 5px;
  border-radius: 10px;
}

#sexo-buttons button {
  width: 100px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #F4EFEC;
  cursor: pointer;
  font-weight: medium;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

#label-sexo-button {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  width: 100px;
  margin-left: 75px;
  padding: 4px;
  border-radius: 5px;
}

#sexo-buttons button:hover {
  background-color: #8a8f75;
  color: #F4EFEC;
}

#sexo-buttons button:active {
  background-color: #727272;
  color: #F4EFEC;
}

#sexo-buttons button.active {
  background-color: #D1A0A0;
  color: #F4EFEC;
}


.calcular-btn.btn-pagina-imc {
  background-color: #D1A0A0;
  border-radius: 8.85px;
  border: 0;
  box-shadow: rgba(87, 87, 87, 0.5) 0 -1px 3px 0 inset, rgba(255, 255, 255, 0.1) 0 3px 6px 0;
  color: #454545;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  width: 200px;
  height: 50px;
  padding: 16px;
  transition: all .4s cubic-bezier(.22, .61, .36, 1);

}

.calcular-btn.btn-pagina-imc:hover {
  background-color: #8A8F75;
  color: #F4EFEC;
  transform: translateY(-2px);
}

.calcular-btn.btn-pagina-agua {
  background-color: #D1A0A0;
  border-radius: 8.85px;
  border: 0;
  box-shadow: rgba(87, 87, 87, 0.5) 0 -1px 3px 0 inset, rgba(255, 255, 255, 0.1) 0 3px 6px 0;
  color: #454545;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  width: 250px;
  height: 50px;
  padding: 16px;
  transition: all .4s cubic-bezier(.22, .61, .36, 1);
}

.calcular-btn.btn-pagina-agua:hover {
  background-color: #8A8F75;
  color: #F4EFEC;
  transform: translateY(-2px);
}

.resultado {

  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  
}

.tabela-imc {
  width: 50%;
  margin-top: 40px;
  border-collapse: collapse;
  margin-bottom: 0%;
}

.tabela-imc th,
.tabela-imc td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.tabela-imc th {
  background-color: #ffffff;
  border: none;
}

.tabela-imc tr.destaque {
  font-weight: 500;
  background-color: #8A8F75;
  color: #ffffff;
  border: 2px solid #000000;
}

.abaixo {
  background-color: #ffffff;
}

.normal {
  background-color: #eaeaea;
}

.sobrepeso {
  background-color: #ffffff;
}

.obesidade1 {
  background-color: #eaeaea;
}

.obesidade2 {
  background-color: #fff
}

.obesidade3 {
  background-color: #eaeaea;
}

.texto-explicativo.pagina-imc{
  margin-top: 15px;
  background-color: #fff9f9;
  padding: 15px;
  border-left: 5px solid #D1A0A0;
  border-radius: 7px;
  color: #444;
  font-size: 15px;
}

.texto-explicativo.pagina-agua{
  margin-top: 15px;
  background-color: #f7ffd6;
  padding: 15px;
  border-left: 5px solid #8A8F75;
  border-radius: 7px;
  color: #444;
  font-size: 15px;
}

.info-paragrafos {
  font-size: 11px;
  color: #454545;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  margin-bottom: 20px;

}

#legenda-tabela {
  margin-bottom: 15px;
  font-style: italic;
  color: #929292;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#info {
  color: #8A8F75;
  margin-right: 5px;
}

.recalcular-btn {
  background-color: #D1A0A0;
  border-radius: 8.85px;
  border: 0;
  box-shadow: rgba(87, 87, 87, 0.5) 0 -1px 3px 0 inset, rgba(255, 255, 255, 0.1) 0 3px 6px 0;
  color: #454545;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  width: 200px;
  height: 50px;
  padding: 14px;
  transition: all .4s cubic-bezier(.22, .61, .36, 1);
  margin-top: 50px;


}

.recalcular-btn:hover {
  background-color: #8A8F75;
  color: #F4EFEC;
  transform: translateY(-2px);
}

.input-group.erro input {
  box-shadow: #ff5f5f 0px 0.5px 1.5px;
}

.input-group.erro .sexo-buttons button {
  box-shadow: #ff5f5f 0px 0.5px 1.5px;
}

.mensagem-erro {
  color: #ff5f5f;
  font-size: 0.6em;
  margin-top: 1px;
  display: block;
}


#div-geral {
  display: flex;
  flex-direction: column;
}



#input-idade {
  all: unset;
  width: 30px;
  height: 30px;
  background-color: #F4EFEC;
  font-size: 20px;
  border-bottom: 2px solid #454545;
}

#input-altura {
  all: unset;
  width: 30px;
  height: 30px;
  background-color: #F4EFEC;
  font-size: 20px;
  border-bottom: 2px solid #454545;
}


.label {
  font-size: 15px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  width: 100px;
  margin-left: 75px;
  padding: 4px;
  background-color: #F4EFEC;
  border-radius: 5px;
  transition: all .4s cubic-bezier(.22, .61, .36, 1);
}

.label.ativa {
  background-color: #D1A0A0;
  color: #000000;
}

#input-peso {
  all: unset;
  width: 30px;
  height: 30px;
  background-color: #F4EFEC;
  font-size: 20px;
  border-bottom: 2px solid #454545;
}

#label-kg {
  margin-top: 10px;
  margin-left: 5px;
}

#label-cm {
  margin-top: 10px;
  margin-left: 5px;
}

#label-anos {
  margin-top: 10px;
  margin-left: 5px;
}

/* Remove setas no Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove setas no Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4EFEC;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  width: 250px;
  height: 100px;
  padding: 50px;
  border-radius: 10px;
}

.input-container.preenchido {
  border: #e5bcbc solid 1.5px;
}

.botao-calcular-container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.section-calculators {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sectioncal {
  background-color: #F4EFEC;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  width: 400px;
  height: 210px;
  padding: 20px;
  transition: all .4s cubic-bezier(.22, .61, .36, 1);
}

.sectioncal:hover {
  border: 1px solid #8A8F75;
  transform: translateY(-2px);
  cursor: pointer;
}

.sectioncal h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.icon-section {
  background-color: #F4EFEC;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border: 0.5px solid #dfdfdf;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 91%;
  margin-top: 2%;
}

.sectioncal:hover .icon-section {
  border: 1px solid #8A8F75;
}

#hum-cal-gasto {
  color: #8A8F75;
}

#hum-cal-agua {
  color: #D1A0A0;
}

#hum-cal-nutri {
  color: #454545;
}


#resultadoLitros{
  font-weight: 500;
}

#cor-resultadoLitros{
  color: #D1A0A0;
}