@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Lustria&family=Poppins:wght@300;400;500;600;700&display=swap');

.receitas-comida-img {
  margin-top: 5px;
  position: relative;
  width: 100%;
}

.receitas-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px 60px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  max-width: 700px;
  width: 90%;
  text-align: center;
  border-top: 8px solid #e7c3bd;
  /* LINHA ROSA */
}


.receitas-titulo {
  color: #d9a6a6;
  font-size: 20px;
font-family: 'Lustria', serif;
  margin-bottom: 12px;
}

.receitas-subtitulo {
  font-size: 20px;
  color: #7A7777;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
}

.receitas-titulo-frase {
  margin-top: 2vw;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Lustria', serif;
  font-weight: 300;
  /* Mais fina */
  color: #454545;

}

.receitas-linha {
  width: 700px;
  /* largura da linha */
  height: 1.5px;
  /* espessura da linha */
  background-color: #8A8F75;
  margin: 5vw auto 0;
  /* centraliza horizontalmente e dá um espacinho em cima */

}
.receitas-sus{
  margin-top: 45px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Lustria', serif;
  font-weight: 400;
  color: #8A8F75;
}

.pudim-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 10px solid #f3d9d4;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 40px;
  max-width: 1000px;
  height: 380px; /* altura aumentada */
  margin: 60px auto;
  border-radius: 20px;
  gap: 40px;
  transition: transform 0.3s ease;
}

.pudim-container:hover {
  transform: translateY(-5px);
}

.pudim-img {
  width: 300px; /* aumentei um pouco para combinar */
  height: 260px; /* altura da imagem aumentada para acompanhar o card */
  object-fit: cover;
  border-radius: 15px;
}

.pudim-conteudo {
  flex: 1;
  font-family: 'Quicksand', sans-serif;
  color: #5b5b5b;
  overflow: hidden;
}

.pudim-conteudo h2 {
  font-family: 'Lustria', serif;
  font-size: 1.5rem;
  color: #8A8F75;
  margin-bottom: 16px;
}

.pudim-conteudo p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: 500;
}

.receitas-leia-mais {
  font-weight: 600;
  font-size: 16px;
  color: #8A8F75;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.receitas-leia-mais:hover {
  color: #bcaea9;
}


.receitas-barra-categorias {
  margin: 4vw 0 0 0;
  padding: 6px 12px;
  width: 100%;
  background-color: #E6E6D9;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: #6B6B6B;
  user-select: none;
  gap: 5rem;
}

.receitas-categoria {
background: none;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  border-radius: 6px;
  color: #6B6B6B;
  font-family: 'Lustria', serif;
  text-decoration: none;
}

.receitas-categoria:hover {
  background-color: #f0f0f0;
  border: 1px solid #b8b8b8;
  transition: background-color 0.5s ease;
}

.receitas-categoria.selecionada {
   background-color: #F4EFEC;
  border: 1px solid #EBD6CD;
}

.receitas-categoria svg {
    font-size: 30px;
    
}

a {
  text-decoration: none;
  color: inherit;
}

