
.secao{
    font-family: "Lustria", sans-serif;
    color: #454545;
    font-size: 25px;
    text-align: center;
    font-weight: 550;
    margin: 150px auto 10px auto; 
   
}



.min-linha{
    color:#8A8F75;
    width: 140px;
    margin: 0 auto 90px auto;
    
   
}


